In [ ]:
# pip install networkx==2.3
%matplotlib inline
import matplotlib.pyplot as plt
import networkx as nx
import pandas as pd
import re
import numpy as np
from collections import Counter
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
import nltk 
import string
plt.style.use('ggplot')
pd.set_option('display.max_colwidth', 100)

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
import nltk

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
root_path = 'gdrive/My Drive/Colab Notebooks/'

Loading the data set

In [ ]:
# Load dataset
def load_data():
    data = pd.read_csv("gdrive/My Drive/Colab Notebooks/ordinary.csv")
    data.columns = data.columns.str.replace(' ','_')
    return data

In [ ]:
tweet_df = load_data()
tweet_df

,Unnamed:_0,screen_name,User_Id,Name,followers_count,friends_count,created_at,statuses_count,listed_count,location,verified,User_Bio
0,0,ChandaniKirinde,1951067186,Chandani Kirinde üá±üá∞,11129,1392,2013-10-10 06:53:14,50061,152,"Colombo,Sri Lanka",False,Journalist. Views my own.
1,1,vipulananda,9909452,Vipulananda üá±üá∞,3046,5000,2007-11-03 07:37:38,124277,353,"Colombo, Sri Lanka",False,‡Æµ‡Æø‡Æ™‡ØÅ‡Æ≤‡Ææ‡Æ©‡Æ®‡Øç‡Æ§‡Ææ ‡∑Ä‡∑í‡∂¥‡∑î‡∂Ω‡∑ä | Journalist | Editor | Activist | GCC Media Personnel | https://t.co/CUsSmHLmJc
2,2,AsiriFernandoLK,957681564284006401,Asiri Fernando,1207,2119,2018-01-28 18:27:32,17718,0,Sri Lanka,False,Journalist | News Editor | üá±üá∞ | Interested in; GeoPol | MarSec | Crime | CT/CVE | Arms & Aviatio...
3,3,lankanenews,1100241609721958400,Lankanenews,597,1784,2019-02-26 03:50:16,3123,0,Sri Lanka,False,‡∑É‡∂≠‡∑ä‚Äç‡∂∫ ‡∑Ä‡∑Ö‡∂Ω‡∂±‡∑ä‡∂±‡∂ß ‡∂¥‡∑ô‡∂ª
4,4,WasithaKeminda,1869917396,Wasitha Pinnawala,337,546,2013-09-16 02:07:12,80,0,Pinnawala,False,NaN
5,5,MarcMartinn,4611985095,MarcMart√≠n,57,155,2015-12-26 15:30:38,1820,0,Sri Lanka,False,NaN
6,6,LankanOrg,122884856,Lankanorg News,140,574,2010-03-14 06:54:48,6430,0,Sri Lanka,False,#SriLanka and worldwide #News in English Sport news weather report politics entertainment #lka #...
7,7,Neetwit,40320649,neetwit,2934,2867,2009-05-15 20:06:00,191839,15,Colombo,False,against deception of public with fabricated lies n' #sriLanka politics. Abhor ‡∂Ü‡∂¥‡∑ä‡∂¥-betrayal for ...
8,8,Francanstyle,301807277,Francanstyle,81,347,2011-05-20 03:02:43,1611,1,Sri Lanka,False,Nothing did I bring...none will be taken...
9,9,vikalpavoices,114960150,Vikalpa,16105,151,2010-02-17 04:34:35,35414,143,"Colombo, Srilanka",True,"Citizen Journalism website in Sinhala, from SriLanka. Established in 2007. Curated by @sampathsl..."

Data analysis

In [ ]:
tweet_df['location']

0     Colombo,Sri Lanka
1    Colombo, Sri Lanka
2             Sri Lanka
3             Sri Lanka
4             Pinnawala
5             Sri Lanka
6             Sri Lanka
7               Colombo
8             Sri Lanka
9     Colombo, Srilanka
Name: location, dtype: object

# cleaning and filtering the data set

In [ ]:
#li = ['Colombo,Sri Lanka', 'Sri Lanka', 'Colombo, Sri Lanka',]
 
pattern='Colombo,Sri Lanka |Colombo, Sri Lanka|Sri Lanka| Srilanka √∞≈∏‚Ä°¬±√∞≈∏‚Ä°¬∞ |Colombo|Colombo, Srilanka|Colombo Sri Lanka|Sri Lankan'

mask=tweet_df['location'].str.contains(pattern,case=False,na=False)
tweet_df1=tweet_df[mask]

#tweet_df =tweet_df[tweet_df['Tweet_Location'] == 'Colombo,Sri Lanka']

Model 1

In [ ]:
tweet_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 9
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed:_0       9 non-null      int64
 1   screen_name      9 non-null      object
 2   User_Id          9 non-null      int64
 3   Name             9 non-null      object
 4   followers_count  9 non-null      int64
 5   friends_count    9 non-null      int64
 6   created_at       9 non-null      object
 7   statuses_count   9 non-null      int64
 8   listed_count     9 non-null      int64
 9   location         9 non-null      object
 10  verified         9 non-null      bool
 11  User_Bio         8 non-null      object
dtypes: bool(1), int64(6), object(5)
memory usage: 873.0+ bytes

In [ ]:
df=tweet_df1.copy()

In [ ]:
#nltk.download('stopwords')
ps = nltk.PorterStemmer()
string.punctuation
wn = nltk.WordNetLemmatizer()

from nltk.corpus import stopwords
stopwords = stopwords.words('english')
#print(stop_words)

#from nltk.corpus import stopwords
#stopword = nltk.corpus.stopwords.words('english')

def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

def tokenization(text):
    text = re.split('\W+', text)
    return text

def remove_stopwords(text):
    text = [word for word in text if word not in stopwords]
    return text

def stemming(text):
    text = [ps.stem(word) for word in text]
    return text
def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text

In [ ]:
#df["Tweet_Content_URL"] = df["Tweet_Content"].str.replace(r'\s*https?://\S+(\s+|$)', ' ').str.strip()
df['Tweet_punct'] = df['Tweet_Content_URL'].apply(lambda x: remove_punct(x))
df['User_Id_punct'] = df['User_Id'].apply(lambda x: x.replace('"', ''))
df['Tweet_Id_punct'] = df['Tweet_Id'].apply(lambda x: x.replace('"', ''))
df['Tweet_tokenized'] = df['Tweet_punct'].apply(lambda x: tokenization(x.lower()))
df['Tweet_nonstop'] = df['Tweet_tokenized'].apply(lambda x: remove_stopwords(x))
df['Tweet_stemmed'] = df['Tweet_nonstop'].apply(lambda x: stemming(x))
df['Tweet_lemmatized'] = df['Tweet_nonstop'].apply(lambda x: lemmatizer(x))
#df.head(1)

KeyError: ignored

In [ ]:
# Mandatory attributes# Age of the account# Number of followers# Number of friends# Verified Status# Number of tweets
# Optional Attributes# Location# Number of lists# Has a bio

def calculateAgeScore(age):
  if age <= 0:
    return 0
  elif age > 0 and age <= 6:
    return 1
  elif age > 6 and age <= 24:
    return 2
  elif age > 24 and age <= 60:
    return 3
  elif age > 60 and age <= 120:
    return 4
  elif age > 120:
    return 5
  else :
    return 0


def calculateFollowerRatioScore(row):
 if row['friends_count'] == 0:
  return 0

 ratio = row['followers_count'] / row['friends_count']

 if ratio < 0.5:
  return 0
 elif ratio >= 0.5 and ratio <= 1:
  return 1
 elif ratio > 1 and ratio <= 2:
  return 2
 elif ratio > 2 and ratio <= 5:
  return 3
 elif ratio > 5 and ratio <= 10:
  return 4
 elif ratio > 10:
  return 5
 else :
  return 0


def calculateVerifiedStatusScore(isVerified):
 if isVerified:
    return 5
 else :
    return 0

def calculateLocationScore(location):
 if pd.isnull(location):
  return 0
 elif "sri lanka" in location.lower() or "srilanka" in location.lower() or "colombo" in location.lower():
  return 5
 elif pd.isnull(location) is False:
  return 4

def calculateUserListsScore(lists):
 if lists < 2:
  return 0
 elif lists >= 2 and lists <= 10:
  return 1
 elif lists > 10 and lists <= 30:
  return 2
 elif lists > 30 and lists <= 60:
  return 3
 elif lists > 60 and lists <= 90:
  return 4
 elif lists > 90:
  return 5

def calculateUserBioScore(bio):
 if pd.isnull(bio):
  return 0
 else :
  return 5

def getNormalizedTrustScore(x):
 minX = 0
 maxX = 7.5
 return (x - minX) / maxX - minX
import datetime
from dateutil.parser import parse
from datetime import datetime

def getAgeFromCreatedDate(date_str):

 #start_date = datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S')
 start_date=date_str
 end_date = datetime(2019, 5, 20, 00, 00, 00)
 num_of_days=end_date -parse(start_date)
 num_months=num_of_days/30 
 #age=int(num_months)
 #num_months = (end_date.year - start_date.year) * 12 + (end_date.month - start_date.month)
 #age= (num_months / np.timedelta64(1, 'D')).astype(int)
 return num_months

def calculateTweetCountScore(tweets):
  if tweets <= 10:
   return 0
  elif tweets > 10 and tweets <= 100:
   return 1
  elif tweets > 100 and tweets <= 1000:
   return 2
  elif tweets > 1000 and tweets <= 5000:
   return 3
  elif tweets > 5000 and tweets <= 10000:
   return 4
  elif tweets > 10000:
   return 5
  else :
   return 0


def getNormalizedTrustScore(x):
 minX = 0
 maxX = 7.5
 return (x - minX) / maxX - minX

In [ ]:
model_1_dataset  = pd.DataFrame(df[['Tweet_Id_punct','Tweet_Type','User_Id_punct','Name','Screen_Name', 'Tweet_lemmatized','Retweets_Received','Favourites_Received',        'Verified_or_Non-Verified','User_Followers','User_Following','Favourites_Count','Statuses_Count',
                             'User_Account_Creation_Date','User_Bio','Tweet_Location','Tweet_Posted_Time_(UTC)','Protected_or_Non-protected']])
model_1_dataset.rename(columns = {'Tweet_lemmatized':'Tweet_Content','Tweet_Id_punct':'Tweet_Id','User_Id_punct':'User_Id'}, inplace = True)

KeyError: ignored

In [ ]:

datetime.datetime.now()

datetime.datetime(2022, 11, 12, 4, 52, 47, 422203)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 2 to 8
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed:_0       6 non-null      int64
 1   screen_name      6 non-null      object
 2   User_Id          6 non-null      int64
 3   Name             6 non-null      object
 4   followers_count  6 non-null      int64
 5   friends_count    6 non-null      int64
 6   created_at       6 non-null      object
 7   statuses_count   6 non-null      int64
 8   listed_count     6 non-null      int64
 9   location         6 non-null      object
 10  verified         6 non-null      bool
 11  User_Bio         6 non-null      object
dtypes: bool(1), int64(6), object(5)
memory usage: 582.0+ bytes

In [ ]:
model_1_result=df[['User_Id', 'Name']].copy()

In [ ]:
# Mandatory attributes# Age of the account# Number of followers# Number of friends# Verified Status# Number of tweets
# Optional Attributes# Location# Number of lists# Has a bio

# Mandatory attributes#
model_1_result['verifiedStatus'] = df['verified'].apply(calculateVerifiedStatusScore)

model_1_result['getAgeFromCreatedDate'] = df['created_at'].apply(getAgeFromCreatedDate)
model_1_result['getAgeFromCreatedDate'] = pd.to_numeric(model_1_result['getAgeFromCreatedDate'].dt.days, downcast='integer')
model_1_result['calculateAgeScore'] = model_1_result['getAgeFromCreatedDate'].apply(calculateAgeScore)

model_1_result['followerRatioScore'] =df.apply(lambda row:calculateFollowerRatioScore(row), axis=1)

model_1_result['tweetCountScore'] =  df['statuses_count'].apply(calculateTweetCountScore)




#Optional Attributes#
model_1_result['User_Bio'] = df['User_Bio'].apply(calculateUserBioScore)
model_1_result['user_location'] = df['location'].apply(calculateLocationScore)
model_1_result['listCountScore'] = df['listed_count'].apply(calculateUserListsScore)
model_1_result.head(5)

,User_Id,Name,verifiedStatus,getAgeFromCreatedDate,calculateAgeScore,followerRatioScore,tweetCountScore,User_Bio,user_location,listCountScore
0,1951067186,Chandani Kirinde üá±üá∞,0,68,4,4,5,5,5,5
1,9909452,Vipulananda üá±üá∞,0,140,5,1,5,5,5,5
2,957681564284006401,Asiri Fernando,0,15,2,1,5,5,5,0
3,1100241609721958400,Lankanenews,0,2,1,0,3,5,5,0
5,4611985095,MarcMart√≠n,0,41,3,0,3,0,5,0

In [ ]:
weighted_mandatory_trust_score = 0
mandatory_attribute_weight = 1
weighted_mandatory_trust_score = 0
mandatory_attribute_weight = 1
model_1_result= model_1_result.eval('weighted_optional_trust_score =0+(User_Bio *0.5 +user_location*0.5+listCountScore*0.5)/3')
model_1_result= model_1_result.eval('weighted_mandatory_trust_score =0+(verifiedStatus *1 +calculateAgeScore*1+followerRatioScore*1+tweetCountScore*1)/4')

model_1_result=model_1_result.eval('final_weighted_score=0+weighted_optional_trust_score+weighted_mandatory_trust_score')

## convert to 0-1 value


model_1_result['normalized_final_weighted_score'] = model_1_result['final_weighted_score'].apply(getNormalizedTrustScore)

In [ ]:
model_1_result1 =model_1_result[['User_Id','Name','weighted_mandatory_trust_score','weighted_optional_trust_score','final_weighted_score']].copy()
model_1_result1

,User_Id,Name,weighted_mandatory_trust_score,weighted_optional_trust_score,final_weighted_score
0,1951067186,Chandani Kirinde üá±üá∞,3.25,2.500000,5.750000
1,9909452,Vipulananda üá±üá∞,2.75,2.500000,5.250000
2,957681564284006401,Asiri Fernando,2.00,1.666667,3.666667
3,1100241609721958400,Lankanenews,1.00,1.666667,2.666667
5,4611985095,MarcMart√≠n,1.50,0.833333,2.333333
6,122884856,Lankanorg News,2.00,1.666667,3.666667
7,40320649,neetwit,3.00,2.000000,5.000000
8,301807277,Francanstyle,1.75,1.666667,3.416667
9,114960150,Vikalpa,4.75,2.500000,7.250000

In [ ]:
model_1_result2 =model_1_result[['User_Id','Name','normalized_final_weighted_score']].copy()
model_1_result2

               User_Id                 Name  normalized_final_weighted_score
0           1951067186  Chandani Kirinde üá±üá∞                         0.766667
1              9909452       Vipulananda üá±üá∞                         0.700000
2   957681564284006401       Asiri Fernando                         0.488889
3  1100241609721958400          Lankanenews                         0.355556
5           4611985095           MarcMart√≠n                         0.311111
6            122884856       Lankanorg News                         0.488889
7             40320649              neetwit                         0.666667
8            301807277         Francanstyle                         0.455556
9            114960150              Vikalpa                         0.966667

In [ ]:
model_1_result2.to_csv('model_1_result2.csv')

Model one completed

In [ ]:
# Mandatory attributes# Age of the account# Number of followers# Number of friends# Verified Status# Number of tweets
# Optional Attributes# Location# Number of lists# Has a bio

# Mandatory attributes#
model_1_result['VT'] = model_1_dataset['Verified_or_Non-Verified'].apply(calculateVerifiedStatusScore)
model_1_result.head(20)


model_1_result['getAgeFromCreatedDate'] = model_1_dataset['User_Account_Creation_Date'].apply(getAgeFromCreatedDate)
model_1_result.head(1)

model_1_result['getAgeFromCreatedDate'] = pd.to_numeric(model_1_result['getAgeFromCreatedDate'].dt.days, downcast='integer')
model_1_result['calculateAgeScore'] = model_1_result['getAgeFromCreatedDate'].apply(calculateAgeScore)
model_1_result.head(1)

#Optional Attributes#
model_1_result['BE'] = model_1_dataset['User_Bio'].apply(calculateUserBioScore)
model_1_result.head(1)

#location
model_1_result['user_location'] = model_1_dataset['Tweet_Location'].apply(calculateLocationScore)

model_1_result.head(1)


#model_1_dataset2=model_1_dataset1.drop(['Tweet_Id', 'Tweet Content'], axis=1)
#model_1_result[['FCP','FC','SC']] = model_1_dataset3[['Favourites_Count','User_Followers','Statuses_Count']].apply(division_1000)
#model_1_result['REC'] =model_1_dataset3[['Retweets_Received']].apply(division_1)

#model_1_result['NV'] = model_1_dataset3.apply(lambda row: categorise(row), axis=1)

,User_Id,Name,VT,BE,getAge,getAgeFromCreatedDate,calculateAgeScore,user_location
3,1951067186,Chandani Kirinde üá±üá∞,0,5,68,68,4,5

In [ ]:
#FInal model

In [ ]:
model_1_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 3 to 10957
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tweet_Id                    323 non-null    object
 1   Tweet_Type                  323 non-null    object
 2   User_Id                     323 non-null    object
 3   Name                        323 non-null    object
 4   Screen_Name                 323 non-null    object
 5   Tweet_Content               323 non-null    object
 6   Retweets_Received           323 non-null    int64
 7   Favourites_Received         323 non-null    int64
 8   Verified_or_Non-Verified    323 non-null    object
 9   User_Followers              323 non-null    int64
 10  User_Following              323 non-null    int64
 11  Favourites_Count            323 non-null    int64
 12  Statuses_Count              323 non-null    int64
 13  User_Account_Creation_Date  323 non-null    object
 14  User_Bio                    315 non-null    object
 15  Tweet_Location              323 non-null    object
 16  Tweet_Posted_Time_(UTC)     323 non-null    object
 17  Protected_or_Non-protected  323 non-null    object
dtypes: int64(6), object(12)
memory usage: 47.9+ KB

In [ ]:
df  = pd.DataFrame(tweet_df1[['Tweet_Id','Tweet_Type','User_Id','Name','Screen_Name', 'Tweet_Content','Retweets_Received','Favourites_Received',
                            'Verified_or_Non-Verified','User_Followers','User_Following','Favourites_Count','Statuses_Count',
                             'User_Account_Creation_Date','User_Bio','Tweet_Location','Tweet_Posted_Time_(UTC)','Protected_or_Non-protected']])